source "security/medusa/testing/Kconfig"

config SECURITY_MEDUSA
	bool "MEDUSA Support"
	depends on SECURITY
	select NETWORK_SECMARK
	default n
	help
	  This selects MEDUSA LSM.

if SECURITY_MEDUSA

config SECURITY_MEDUSA_VS
        int "Number of bits representing Virtual Spaces (VS)"
        default 96
        range 32 512
        depends on SECURITY_MEDUSA
        help
          There are no constraints for the number of VS, but for better
          effectivity it should be multiply of 8.

config SECURITY_MEDUSA_ACT
        int "Number of bits representing triggered security hooks"
        default 64
        range 32 512
        depends on SECURITY_MEDUSA
        help
          There are no constraints for the number of access types, but for
          better effectivity it should be multiply of 8.

config SECURITY_MEDUSA_L4_CONSTABLE
        tristate "MEDUSA L4 as MODULE"
        depends on SECURITY_MEDUSA
        default y
        help
          Compiles l4 on medusa as module. Good for debug purposes.

          If unsure do not touch.

config SECURITY_MEDUSA_TESTING
	bool "MEDUSA Test Support"
	depends on SECURITY_MEDUSA && KUNIT

endif # if SECURITY_MEDUSA
