source "security/medusa/testing/Kconfig"

config SECURITY_MEDUSA
	bool "MEDUSA Support"
	depends on SECURITY
	select NETWORK_SECMARK
	default n
	help
	  This selects MEDUSA LSM.

if SECURITY_MEDUSA

config SECURITY_MEDUSA_VS
        int "Number of bits representing Virtual Spaces (VS)"
        default 96
        range 32 512
        depends on SECURITY_MEDUSA
        help
	  Medusa Communication Protocol transfers size of attributes in Bytes.
	  To prevent a mistake and errornous interpretation of bits out of
	  bitarray, the array size SEURITY_MEDUSA_VS must be a multiple of 8.

config SECURITY_MEDUSA_ACT
        int "Number of bits representing triggered security hooks"
        default 64
        range 32 512
        depends on SECURITY_MEDUSA
        help
	  Medusa Communication Protocol transfers size of attributes in Bytes.
	  To prevent a mistake and errornous interpretation of bits out of
	  bitarray, the array size SEURITY_MEDUSA_ACT must be a multiple of 8.

config SECURITY_MEDUSA_L4_CONSTABLE
        tristate "MEDUSA L4 as MODULE"
        depends on SECURITY_MEDUSA
        default y
        help
          Compiles l4 on medusa as module. Good for debug purposes.

          If unsure do not touch.

config SECURITY_MEDUSA_TESTING
	bool "MEDUSA Test Support"
	depends on SECURITY_MEDUSA && KUNIT

config SECURITY_MEDUSA_MONITOR_KTHREADS
	bool "Monitor kernel threads"
	depends on SECURITY_MEDUSA
	default n
	help
	  If set, kernel threads are monitored by Medusa LSM.
	  By default, this functionality is turned off.

config SECURITY_MEDUSA_HOOKS_TASK_KILL
	bool "Enable LSM hook task_kill"
	depends on SECURITY_MEDUSA
	default y
	help
	  If set, enables task_kill LSM security hook.

config SECURITY_MEDUSA_KILL_RESCHEDULING
	bool "Enable rescheduling in task_kill LSM hook"
	depends on SECURITY_MEDUSA
	depends on SECURITY_MEDUSA && SECURITY_MEDUSA_HOOKS_TASK_KILL
	imply PREEMPT_CPU
	imply LOCKDEP
	default n
	help
	  If set, turns on PREEMPT_CPU and LOCKDEP to enable rescheduling in
	  the task_kill LSM hook. Rescheduling is possible only in specific
	  cases of signal sending (e.g. when sending a signal to a single
	  process, not a group) and serves only for security context
	  initialization of the sender/receiver. So this feature is suitable
	  for debugging purposes only.

	  If unsure, say N.

endif # if SECURITY_MEDUSA
